<div class="EventParent">
    <div class="EventImage">
        <img src="~/Images/EmmaFunny.jpg"/>
    </div>
    
    <div class="EventCenter">
        <div class="EventTopLine">
            <div>
                <h2>Music Event</h2>
            </div>
            <div style="margin-left: 20px">
                <button class="ButtonFollow">Follow</button>
            </div>
        </div>
        <div class="EventDescription">
            <span>
                This is the event description area. It is here that the event creator can give you a detailed account of what you could expect if you attend this event.
                Maybe there will be drinks or dancing or karaoke to partake in and the viewer would want to know.
            </span>
        </div>
    </div>
    
    <div class="EventDetails">
        <ul>
            <li>
                <div>
                    <div>
                        <p>Date: 4/20/1989</p>
                    </div>
                </div>
            </li>
            <li>
               <div>
                    <div>
                        <p>Time: 8:30 PM</p>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div>
                        <p>Host: Events Inc.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>