<div class="ProfileIconParent">
  
    <p>
        Emma
    </p>

    <img src="~/Images/Testing.jpg"/>
    
    <p>
        Nashville, TN
    </p>
    
    <span>This is where a status will go!</span>
</div>