@model List<Eventcity.Models.events>

<p>
    Partial what's happening header area
</p>

<section>

    @{
        if(Model != null)
        {
            // Unhandled exception - database problem. If parameter is null (contentPath in this case) throws an exception.
            foreach (var m in Model)
            {
                @Html.Partial("PartialEvent", m)
            }
        }
    }
</section>